.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.app-header {
  min-height: 10vh;
  background: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-content {  
  min-height: 90vh;
  background: #ffffff;
  background: -webkit-linear-gradient(to right, #dcdcdd, #dbdada);
  background: linear-gradient(to right, #eeecec, #dddcdc);
}
.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.multiline-text {
  width: 580px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ff9b89;
  overflow:auto;
  padding:10px;
  font-size:14px;
  display:block;
  border-radius:10px;
}

label {
   font-weight: bold;
}

select {
   font-size: 14px;
   padding: 5px;
 }

.tags-container {
  width: 650px;
  max-width: 650px;
  min-height: 48px;
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
}
.tile {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  background-color: #ff9b89;
  padding:6px 18px;
  margin: 6px;
  border-radius: 40px;
}

.caption {
  color: #ffffff;
  
  margin: 20px;
  max-width: 600px;
  /*.title{
    font-size: 24px;
    line-height: 2em;
  }
  .text{
    font-size: 18px;
    line-height: 1.5em;
  }*/
}